version: '3.2'

services:
    notification:
        container_name: notification
        build:
            context: ${HUNCHO_DIR}/services/notification
            dockerfile: ${HUNCHO_DIR}/services/notification/build/Dockerfile.qaw
            args:
                NODE_VERSION: 12
        volumes:
            - ${HUNCHO_DIR}/services/notification/src:/home/app/src
        env_file:
            - ${HUNCHO_DIR}/env/qaw/.env.notification
        networks:
            - app-net
            - kong-net
    notification_cache:
        container_name: notification_cache
        build:
            context: ${HUNCHO_DIR}/services/redis
            dockerfile: ${HUNCHO_DIR}/services/redis/build/Dockerfile
        volumes:
            - ${HUNCHO_DIR}/data/qaw/notification_cache/redis_data:/var/lib/redis
            - ${HUNCHO_DIR}/data/qaw/notification_cache/redis.conf:/usr/local/etc/redis/redis.conf
        env_file:
            - ${HUNCHO_DIR}/env/qaw/.env.notification_cache
        networks:
            - app-net
    notification_mongodb:
        container_name: notification_mongodb
        build:
            context: ${HUNCHO_DIR}/services/mongodb
            dockerfile: ${HUNCHO_DIR}/services/mongodb/build/Dockerfile
            args:
                MONGO_VERSION: 3.6
        volumes:
            - ${HUNCHO_DIR}/data/qaw/notification_mongodb/data:/data/db
            - ${HUNCHO_DIR}/services/notification/bin/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh
        env_file:
            - ${HUNCHO_DIR}/env/qaw/.env.notification_mongodb
        networks:
            - app-net
#    notification_proxy:
#        container_name: notification_proxy
#        build:
#            context: ${HUNCHO_DIR}/services/notification/proxy
#            dockerfile: ${HUNCHO_DIR}/services/notification/proxy/build/Dockerfile
#        restart: on-failure
#        volumes:
#            - ./statics/.:/usr/share/nginx/
#        ports:
#            - 80:80
#        depends_on:
#            - notification
#        networks:
#            - app-net
    mongo-express:
        container_name: mongo-express
        build:
            context: ${HUNCHO_DIR}/services/mongo-express
            dockerfile: ${HUNCHO_DIR}/services/mongo-express/build/Dockerfile
        restart: always
        ports:
            - 8081:8081
        env_file:
            - ${HUNCHO_DIR}/env/qaw/.env.notification-mongo-express
        networks:
            - app-net
#    redis-commander:
#        container_name: redis-commander
#        build:
#            context: ${HUNCHO_DIR}/services/redis-commander
#            dockerfile: ${HUNCHO_DIR}/services/redis-commander/build/Dockerfile
#        restart: unless-stopped
#        ports:
#            - 8082:8081
#        env_file:
#            - ${HUNCHO_DIR}/env/qaw/.env.notification-redis-commander
#        depends_on:
#            - notification_cache
#        networks:
#            - app-net
networks:
    app-net:
        external:
            name: build_app-net
    kong-net:
        external:
            name: build_kong-net
