version: '3.2'

services:
    notification:
        container_name: notification
        build:
            context: ${HUNCHO_DIR}/services/notification
            dockerfile: ${HUNCHO_DIR}/services/notification/build/Dockerfile
            args:
                NODE_VERSION: 12
        volumes:
            - ${HUNCHO_DIR}/services/notification/src:/home/app/src
        env_file:
            - ${HUNCHO_DIR}/env/dev/.env.notification
        depends_on:
            - notification_db
            - notification_mongodb
            - notification_cache
        networks:
            - notification-net
    notification_cache:
        container_name: notification_cache
        image: redis:6
        volumes:
            - ${HUNCHO_DIR}/data/dev/notification_cache/redis_data:/var/lib/redis
            - ${HUNCHO_DIR}/data/dev/notification_cache/redis.conf:/usr/local/etc/redis/redis.conf
        env_file:
            - ${HUNCHO_DIR}/env/dev/.env.notification_cache
        networks:
            - notification-net
    notification_db:
        container_name: notification_db
        image: postgres:9.6
        volumes:
            - ${HUNCHO_DIR}/data/dev/notification_db/data:/var/lib/postgresql/data/
        env_file:
            - ${HUNCHO_DIR}/env/dev/.env.notification_db
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U notification"]
            interval: 10s
            timeout: 5s
            retries: 20
        networks:
            - notification-net
    notification_mongodb:
        container_name: notification_mongodb
        image: mongo:3.6
        volumes:
            - ${HUNCHO_DIR}/data/dev/notification_mongodb/data:/data/db
            - ${HUNCHO_DIR}/data/dev/notification_home:/home/mongodb # this must be manually created and chown'd to 999 https://github.com/docker-library/mongo/issues/323
            - ${HUNCHO_DIR}/services/notification/bin/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh
        command: [--auth]
        env_file:
            - ${HUNCHO_DIR}/env/dev/.env.notification_mongodb
        networks:
            - notification-net
    notification_proxy:
        container_name: notification_proxy
        build:
            context: ${HUNCHO_DIR}/services/notification/proxy
            dockerfile: ${HUNCHO_DIR}/services/notification/proxy/build/Dockerfile
        restart: on-failure
        volumes:
            - ./statics/.:/usr/share/nginx/
        ports:
            - 80:80
        depends_on:
            - notification
        networks:
            - notification-net
    mongo-express:
        container_name: mongo-express
        image: mongo-express:latest
        restart: always
        ports:
            - 8081:8081
        env_file:
            - ${HUNCHO_DIR}/env/dev/.env.notification-mongo-express
        networks:
            - notification-net
    redis-commander:
        container_name: redis-commander
        image: rediscommander/redis-commander:latest
        restart: unless-stopped
        ports:
            - 8082:8081
        env_file:
            - ${HUNCHO_DIR}/env/dev/.env.notification-redis-commander
        depends_on:
            - notification_cache
        networks:
            - notification-net
networks:
    notification-net:
        driver: bridge
